[Unit]
Description=Overylay mount
#DefaultDependencies=no
After=systemd-networkd.service

[Service]
Type=simple
ExecStart=/etc/nezha/mount_root.sh

[Install]
WantedBy=multi-user.target
