[Unit]
Description=D1 Bluetooth
After=network.target
ConditionPathIsDirectory=/sys/class/bluetooth

[Service]
Type=simple
ExecStart=/etc/nezha/d1-bt-init.sh start
EecStartPost=bluetoothctl power on

[Install]
WantedBy=multi-user.target
